*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    cursor: default;
}

section {
    max-width: 100%;
    height: 100vh;
    display: block;
    position: relative;
    justify-content: space-between;
    font-family: Verdana, sans-serif;
}
body{
    background-image: url(./assets/aura.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    transition: 0.5s;
}
header {
    max-width: 100%;
    height:8vh;
    display: flex;
    justify-content: space-between;
    padding: 1vh 2vw;
    flex-wrap: nowrap;
    align-items: center;
    /* background-color: rgba(57, 59, 68, 0.85); */
    font-family: Verdana, sans-serif;
    font-size: 2.8vh;
    color: azure;
}

header ul {
    display: flex;
    position: relative;
}

header ul li {
    list-style: none;
    padding: 0 2vw;
}

header ul li a{
    text-decoration: none;
    cursor: pointer;
    font-size: medium;
    color:azure;
}


.pomodoro {
    color:azure;
    display: flex;
    position: relative;
    justify-content: space-between;
}
/* settings of the timer */

.settings {
    margin: 2vh 1vw;
    width: 4vw;
    max-height: 25vh;
    background-color:rgba(35,40,48,255);
    position: relative;
    border-radius:15px;
    display: block;
    z-index: 0;
}
.settings input {
    width: 5vw;
}
.settings button {
    background-color: transparent;
    font-size: 4vh;
    border: none;
    display:block;
    margin: 1.1vw;
    cursor: pointer;
    color: azure;

}
.change-settings {
    background-color: rgba(255, 255, 255, 0.281);
    float: left;
    margin:0 5vw;
    display: none;
    position:sticky;
    min-height: 40vh;
    max-width: 30vw;
    padding: 10px;
    border-radius: 15px;
    font-size: 2vh;


}

.change-settings-icon:focus + .change-settings, .change-settings:hover , .change-settings:active{
    display: block;
    position: fixed;
    translate: 0% -22%;

}
.change-settings-icon:focus {
    color: grey;
}
.change-settings div {
    display: flex;
    justify-content:space-between;
}

.change-settings .input1 , .change-settings .input2 ,.change-settings .input3{
    display: block;
}
.sounds {
    background-color: rgba(255, 255, 255, 0.281);
    float: left;
    margin:0 5vw;
    display: none;
    position:sticky;
    min-height: 40vh;
    max-width: 30vw;
    padding: 10px;
    border-radius: 15px;
}

.change-sounds-icon:focus + .sounds{
    display: block;
    position: fixed;
    translate: 0% -40%;
}

.change-sounds-icon:focus {
    color: grey;
}


.timer-block {
    width: 25.5vw;
    max-height: 25vh;
    border-radius: 20px;
    text-align: center;
    /* padding:2vh 2vw; */
    position: relative;
    top: 2vh;
    right: 1vw;
    /* translate: -115% 90%; */
}

/* tabs in the timer */
.tabs {
    display: flex;
    justify-content: space-between;
}

.tabs p {
    background-color:rgba(35,40,48,255);
    /*  rgba(57, 59, 68, 0.85); */
    padding: 1.5vh 1.5vw;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    cursor: pointer;
    font-size: 2.4vh;
    align-items: center;
    border-bottom: 1px solid rgba(240, 255, 255, 0.654);

}
.timer {
    color: white;
    background-color: rgba(35,40,48,255);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;


}
.time-display {
    font-size: 8vh;
    padding-bottom: 2vh;
}

.timer-controls {
    display: flex;
    margin:0 8vw;
    justify-content: space-between;
    padding-bottom: 1.5vh;
}

.timer-controls button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 4vh;
    transition: 0.5s;
    color: azure;

}
.timer-controls button:hover {
    transform: scale(1.5);
    transition:1s;
    cursor: pointer;
}